{% extends 'base.html.twig' %}

{% block title %}Hello son{% endblock %}

{% block body %}
    <h1>Register</h1>



    <form action="" method="post" id="form">
        <input type="submit" value="Send that thang!" id="data">
    </form>

    <script>
        document.getElementById('form').addEventListener('submit', (e) => {
            e.preventDefault();

            (async () => {
                const rawResponse = await fetch('register/save', {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({"country": "USA", "language": "English"})
                });
                const content = await rawResponse.json();

                console.log(content);
            })();
        });
    </script>


{% endblock %}